@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

/* style of footer box.. */

#foo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Ubuntu' sans-serif;
    text-align: center;
    padding-top: 70px;
    background: #ffdde1;
    width: 100%;
    overflow-x: hidden;
    color: #000;
    padding-bottom: 30px;

}

.social li a img {
    height: 60px;
    width: 60px;
    padding: 10px;
    border-radius: 30px
}
.social li a img:hover{
    background-color:#f3d0a0 ;
}

.foo-txt {
    color: white;
    font-size: 0.9rem !important;
    text-align: justify;
    line-height: 1.6;
    margin: 0px !important;
}

.footer-img img:hover{

}

/* footer social media list - style.. */
.social {
    list-style-type: none;
}

.social li {
    display: inline;
}


.end{
    background-color: black;
    color: white;
    text-align: center;
}
