
section{
    padding-top: 30px;
    font-family: 'ubuntu';
}
#education{
    text-align: center;
    width: 100%;
    height: fit-content;
    background-color: #f9e7e7;
}


.education{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    flex-direction: column;
}

.education-li{
    font-size: larger;
    list-style: circle;
}