@media only screen and (max-width: 640px) {
    #myimage {
        padding-top: 20px;
        height: 352px;
        width: 229px;
    }
    .img{
 
        margin-bottom: 40px;
    }
}

@media only screen and (max-width: 924px) {
    .about-box-right{
        display: none;
    }
}

@media only screen and (max-width: 350px) {
    .achiev_1_img {
        display: none;
    }
    .achiev_1_content {
        width: 100vw !important;
    }
}

@media only screen and (max-width:310px) {
    #myname-text-2{
        font-size: 3.5rem;
    }

    .dynamic-txts li {
        font-size: 2.4rem;

    }
    .wrapper .dynamic-txts {
         margin-left: 2px;
    }
}

@media only screen and (max-width:800px) {
    #myimage {
        padding-top: 20px;
       
    }
}
@media only screen and (max-width:790px) {
    #myname-text-1 {
        padding-top: 25px;
    }
}
