
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
.navbar {
    background-color: rgb(25 4 56) !important;
    padding: 0px !important;
}

#port-logo {
    color: white;
    font-size: 2.2rem;
    font-weight: bold;
    text-decoration: none;
    margin-left: 50px;
    font-family: 'Ubuntu', sans-serif;
}
#port-logo-span{
    color: crimson;
}

.nav-items-heading{
    color: white !important;
    font-family: 'Ubuntu', sans-serif;

    font-size: 1.1rem;
}
.nav-items-heading:hover{
color: #f12353 !important;
}